{% if author is defined %}
    {% if author == "Oxylos" %}
    {% endif %}

    {% if author == "Tarran" %}
    {% endif %}

    {% if author != "Tarran" and author != "Oxylos" %}
<div class="top">
    <div class="left"></div>
    <div class="right"></div>
    <div class="center"></div>
</div>

<div class="center">

    <div class="left">
        <div class="right">
            <div class="center">
    {% endif %}
        {% block border_content %}{% endblock border_content %}
    {% if author != "Tarran" and author != "Oxylos" %}
            </div>
        </div>
    </div>

</div>

<div class="bottom">
    <div class="left"></div>
    <div class="right"></div>
    <div class="center"></div>
</div>
    {% endif %}
{% endif %}
