{% extends "BlogBlogBundle::layout.html.twig" %}

{% block flashbag %}
{% for key, messages in app.session.flashbag.all() %}
{% for message in messages %}
<div class="alert alert-{{ key }}">
    {{ message|trans({}, 'FOSUserBundle') }}
</div>
{% endfor %}
{% endfor %}
{% endblock %}

{% block content %}
    {% block fos_user_content %}
    {% endblock %}
{% endblock %}