{#

 This file is part of the FOSCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

{% if app.user %}

    {% include "FOSCommentBundle:Thread:comment_new_content.html.twig" %}

{% else %}

    <div class="fos_comment_comment_form_holder">
        <p>Il faut être inscrit pour pouvoir poster un commentaire</p>
        <p>
            <a href="{{ path('fos_user_security_login') }}">Connexion</a> /
            <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
        </p>
    </div>

{% endif %}
