{% extends 'BlogBlogBundle::layout.html.twig' %}

{% block content %}
<h2>À propos</h2>

<p>L’Outre-Ça est un site où Dora, Quasar et Tarran exposent leurs œuvres en programmation, en graphismes et en texte. Mais en réalité, ce site est lui-même une œuvre, car Dora l’a codé de A à Z en utilisant les graphismes de Quasar.</p>

<p>Quelques mots sur le titre. Nous avons eu du mal à l’imaginer. Heureusement, la très inspirée <a href="http://sergeantpepper.canalblog.com/">Sergeant Pepper</a> nous a aidés; voici quelques fragments de sa réflexion (à l’origine, le titre devait être « Exodruge d’Outre- Ça »):</p>

<blockquote>
    <p style="font-size: 1em;">« Celui qui fuyait autrui en étant comédien devient, au milieu de la salle, un autre individu. Son nom est proche d'Exodruge, mais en est un peu différent. Je ne me souviens pas bien. Dans "exodruge", il y a exode, et, en plus d'être un joli mot, c'est une fuite. C'est joli, une fuite pour rejoindre quelque chose d'autre, et créer une autre chose, nouvelle. De plus, l'Exode, c'est le second livre (je crois) de l'Ancien Testament. L'Outre-ça, ç'aurait pu être en lien avec mon E muet. En revanche, je lui ai subtilisé ses premiers mots, qui étaient "L'Homme". Il finira Infini Romancier, mais c'est autre chose.</p>

    <p style="font-size: 1em;">Une outre, c'est un sac en peau d'animal. On pourra y mettre plein de choses. Dont du vin, de l'huile, certes. Mais on y mettra des jeux et des drôles de formules codées, des dessins et illustrations, et des mots de notre Infini Romancier. Outre-ça, parce que "ça" désigne un ensemble. Et l'ensemble, ce sont vous et vos travaux. »</p>
</blockquote>

<p>Mais « Exodruge d’Outre-Ça » nous a paru trop long, trop difficile à prononcer. Nous avons donc réduit le titre à L’outre-Ça, plus percutant, concis, et facile à retenir.</p>

<p>Et maintenant, un peu plus sur les auteurs :</p>


<dl class="dl-horizontal">
    <dt><a href="">Dora</a></dt>
    <dd>passionné de l'informatique et des technologies du web, maîtrise le html5, le css3, le javascript (débute en jquery), et le php (et oui le site utilise le framework php symfony2). Mais il connait aussi le c++ et Qt. Dans sa partie, vous verrez les dernières avancés du site et quelques jeux (à paraître) dont Quasar fera une partie des graphismes (s’il a le temps…).</dd>
    <dt><a href="">Quasar</a></dt>
    <dd>a commencé à dessiner depuis qu’il sait tenir un crayon, il ne s’est jamais arrêté depuis. Il poste souvent dans <a href="http://www.forum-dessine.fr/">le forum dessiné</a> , où les participants s’expriment uniquement avec des dessins. Il dessine surtout des BD, scénarisées par Tarran la plupart du temps.</dd>
    <dt><a href="">Tarran</a></dt>
    <dd>est un poète. Son imagination n’a pas de limites. Il écrit des nouvelles, des poésies, des articles, et de temps en temps il scénarise les BD de Quasar. Même s’il n’excelle pas en dessin, il participe au <a href="http://www.forum-dessine.fr/">forum dessiné</a> c’est d’ailleurs lui qui a initié Quasar à ce terrain de jeu citronné.</dd>
</dl>
{% endblock content %}